@page
@model HWK6.Pages.Expenditures.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br>
<h2>List of Todos</h2>

<a class='btn btn-primary btn-sm' href='/Expenditures/Create'>Create Expenditure</a>
<a class='btn btn-primary btn-sm' href='/Expenditures/Average'>Get Average</a>
<a class='btn btn-primary btn-sm' href='/Expenditures/Maximum'>Get Maximum</a>
<table class="table">

    <thead>
        <tr>
            <th>Expenditure Type</th>
            <th>Expenditure</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.expenditures)
        {
            <tr>
                <td>@item.ExpenditureType</td>
                <td>@item.Expenditure</td>

                <td>
                    <a class="btn btn-primary btn-sm" href="/Expenditures/Edit?id=@item.ID">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Expenditures/Delete?id=@item.ID">Delete</a>
                </td
            </tr>
        }
    </tbody>

</table>
